.z-index-1 {
  z-index: 1;
}
.stick-top {
  position: absolute;
  top: 0;
}
.w-50 {
  width: 50%;
}
.postion-absolute {
  position: absolute;
}
.text-small {
  font-size: small;
}
.text-white {
  color: white;
}

#wrapper {
  position: relative;
  width: 500px;
  height: 200px;
}
